<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title%></title>
        <!-- <script type="modle" defer src="./js/app.js"></script> -->
        <!-- <link rel="stylesheet" href="./css/style.css" /> -->
    </head>
    <body>
        <h1 class="h1"><%= mainTitle%></h1>
        <div class="input">
            <input id="inputVal" type="text" placeholder="Kiek straipsniu rodyti?" />
            <button class="submit">Submitas</button>
        </div>
        <div class="app"></div>
    </body>
</html>